@font-face {
    font-family: raleway;
    src: url(Fuentes/raleway-regular-webfont.woff);
}
@font-face{
    font-family: ralewayBold;
    src: url(Fuentes/raleway-bold-webfont.woff);
}
body{
    font-family: raleway;
    font-weight: 900;
}
.row:first-child{
    margin-top: 30px;
}
.contenidoCabecera {
    font-size: 10px;
    color: #54585A;
    width: 93px;
    height: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 15px;
}
.subrayado {
    padding-bottom: 6px;
    border-bottom: medium solid #ED8B00;
}
#telefono{
    font-size: 16px;
    text-align: right;
}
#iconsEnlaces{
    width: 16;
    height: 18;
}
#separadorMenu {
    margin-left: -77px;
    width: 1277px;
    position: relative;
    color: red;
}
#flechaAbajo {
    image-orientation: flip;
}
.nav li:first-child {
    border-bottom: thick solid #ED8B00;
}
.nav li:first-child > a{
    color:orange;
}
.nav li a{
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    line-height: 60px;
    color: #54585A;
    display: block;
    font-weight: bold;
    font-family: ralewayBold;
}
.nav li:hover {
    border-bottom: thick solid #ED8B00;
}
.nav li:hover > a {
    text-decoration: none;
    color:#ED8B00; 
}
/*BREADCRUMBS*/
#submenu {
    background-color: rgba(238,238,238,1);
    margin-bottom: 0px;
}
ol{
    margin-left: 50px;
    height: 72px;
    padding: 0;
    list-style: none;
    font-size: 16px;
    overflow: hidden;
    color: rgba(88,91,93,1);
}
#breadcrumbs li a {
    font-family: ralewayBold;
    color:rgba(88,91,93,1);
}
#breadcrumbs li{
    margin-top:15px;
    padding: .7em 1em .7em 2em;
    float: left;
    text-decoration: none;
    position: relative;
    text-decoration: none;
    border-right: thin solid white;
}
#breadcrumbs li:hover{
  border-bottom: thick solid rgba(87,186,177,1);
}
#breadcrumbs li:hover > a{
    text-decoration: none;
    color: rgba(87,186,177,1);
}
/*Fin BREADCRUMBS*/
#contenido{
    margin: -2em;
}
#textoSobreImagen1{
    font-weight: bold;
    padding-right: 20px;
    vertical-align: center;
    text-align: right;    
    left: 0px;    
    position: absolute;  
    height: 50px;
    line-height: 50px;
    background-color: #57BAB1;
    color: white;
    font-size: 20px;
    top:82px;
    width: 320px;
}
.textoSobreImagen2{
    font-weight: bold;
    padding-right: 20px;
    vertical-align: center;
    text-align: right;    
    left: 0px;    
    position: absolute;  
    height: 50px;
    line-height: 50px;
    background-color: white;
    color: #57BAB1;    
    font-size: 39px;    
    font-family: ralewayBold;
    font-weight: bold;
    top:138px;
    width: 375px;
    top:82px;
}
#textoSobreImagen2A{
    width: 327px;
    top:155px;
}
#textoSobreImagen2B{
    width: 290px;
    top:211px;
}
#textoSobreImagen2C{
    width: 375px;
    top:268px;
}
#imagenChica{
    height: 425px;
}
#CalculaSeguro{
    height: 425px;
    background-color: #57BAB1;
}
#CalculaSeguro p {
    position: relative;
    top: 72px;
    text-align: center;
    font-family: ralewayBold;
    font-size: 48px;
    font-weight: bold;
    color: white;
}
#CalculaSeguro button{
    width: 216px;
    height: 74px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    position: relative;
    top: 80px;
    right: -215px;
    text-align: center;
    font-family: ralewayBold;
    font-size: 16px;
    background-color: rgba(255,46,99,1);
    color: white;
}
#contenido .row:nth-child(2) {
    background-color: rgba(247,247,247,1);
    margin-left: 0px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding-bottom: 30px;
}
#contenido .row:nth-child(2) > div{
    margin-top: 60px;
}
#seguroCompleto{
    text-align: center;
    font-family: ralewayBold;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #54585A;
}
#seguroCompleto p {
    margin-bottom: -30px;
    margin-top: 90px;
    text-align: center;
    font-size: 39px;
    font-family: ralewayBold;
    line-height: 42px;
    color: #57BAB1;
}
#separadorContenido{
    border: solid 4px #CCCCCC;
    width: 95px;    
}
#coberturas{
    font-family: raleway;
    font-size: 16px;
}
#pdfIcon {
    width: 30px;
    height: 30px;
}
#todasLasCoberturas{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
#todasLasCoberturas a {
    border-bottom: medium solid #ED8B00;
    color: #54585A;
    font-family: raleway;
    font-size: 12px;
    font-weight: bold;
    line-height: 19px;
    margin-right: 9px;
}
#todasLasCoberturas button {
    width: 216px;
    height: 74px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    position: relative;
    top: 40px;
    text-align: center;
    font-family: ralewayBold;
    font-size: 16px;
    background-color: rgba(255,46,99,1);
    color: white;
}
#textoPlus {
    border-style: dashed;
    border-color: rgba(187,187,187,1);
    height: 181px;
    margin-top: 50px;
}
#textoPlus p{
    font-family: raleway;
    font-size: 16px;
    padding: 48px;
}
#textoPlus span:first-child{
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #54585A;
}
#textoPlus span:last-child{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    color: rgba(87,186,177,1);
}
#plusIcon{
    margin-top: -6em;
    margin-left: 95%;
    height: 52px;
    width: 52px;
}
#cuadroMedico{
    text-align: center;
    font-family: ralewayBold;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: #54585A;
}
#cuadroMedico p {
    margin-bottom: -30px;
    margin-top: 90px;
    text-align: center;
    font-size: 39px;
    font-family: ralewayBold;
    line-height: 42px;
    color: #57BAB1;
}
#formularioBusqueda{
    font-family: ralewayBold;
    color: #54585A;
    font-size: 20px;
}
#formularioBusqueda span{
    font-size: 14px;
    font-style: italic;
    color:rgba(169,169,169,1);
}
#formularioBusqueda button{
    width: 216px;
    height: 74px;
    border: 1px solid #FFFFFF;
    border-radius: 3px;
    position: relative;
    top: 40px;
    text-align: center;
    font-family: ralewayBold;
    font-size: 16px;
    background-color: rgba(255,46,99,1);
    color: white;
}
.input{
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: thin solid rgba(169,169,169,1);
}